*{
	box-sizing : border-box;
}

HTML, BODY{
	overflow : hidden;
}

BODY{
	background-image : url('/images/bg.jpg');
	background-size : cover;
	background-position : bottom;
}

.u-text_dot{
	position: absolute;
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.7);
	box-shadow: 1px 2px 1px 1px rgba(126, 165, 212, 0.4);
	opacity: 0.8;
	transform : rotate(0deg);
	transition : all 555ms linear;
	
	&.is-active{
		opacity: 0;
		transition : all 777ms linear;
	}
}

.c-main_menu{
	position: fixed;
	bottom: 0px;
	left: 50%;
	width: 0px;
	height: 0px;
	display: block;
	transform-style: preserve-3d;
	perspective: 500px;
	perspective-origin: bottom;
	z-index : 1;
	
	&__panel{
		position: absolute;
		width: 220px;
		height: 220px;
		border-radius: 20px;
		box-shadow: inset 0px 0px 12px 8px rgba(255,255,255,0.4);
		background-color: rgba(20,150,235,0.3);
		transition : background-color 500ms ease-in-out;
		
		&.__order_1{ top :   0px; left :   0px; }
		&.__order_2{ top :   0px; left : 240px; }
		&.__order_3{ top :   0px; left : 480px; }
		&.__order_4{ top : 240px; left :   0px; }
		&.__order_5{ top : 240px; left : 240px; }
		&.__order_6{ top : 240px; left : 480px; }
		&.__order_7{ top : 480px; left :   0px; }
		&.__order_8{ top : 480px; left : 240px; }
		&.__order_9{ top : 480px; left : 480px; }
	}
	
	&__frame{
		position: relative;
		top: -750px;
		left: -350px;
		width: 700px;
		height: 700px;
		transform: rotateX(40deg);
		transform-origin: bottom;
		list-style: none;
		margin: 0px;
		padding: 0px;
		transition : transform 500ms ease-in-out;
		
	}
	&__frame.is-active{
		transform: rotateX(0deg);
	}
	&__frame.is-active > &__panel{
		background-color: rgba(34, 96, 214, 0.7);
	}
}


.c-texture_logo{
	font-family: 'Sarala';
	font-size: 5.5rem;
	letter-spacing: 10px;
	position: absolute;
	display: inline-block;
	width: 555px;
	height : 120px;
	top: 200px;
	left: calc(50% - 555px / 2);
	z-index : 2;
	
	&__text{
		&::before{
			content : attr(data-logo-text);
			color : rgba(0,0,0,0);
		}
	}
}













