@font-face {
	font-family: 'FontAwesome';
	src: url('../../assets/fonts/fontawesome/fontawesome-webfont.eot?v=4.7.0');
	src: url('../../assets/fonts/fontawesome/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
		 url('../../assets/fonts/fontawesome/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
		 url('../../assets/fonts/fontawesome/fontawesome-webfont.woff?v=4.7.0') format('woff'),
		 url('../../assets/fonts/fontawesome/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
		 url('../../assets/fonts/fontawesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: "foundation-icons";
  src: url("../../assets/fonts/foundation-icons/foundation-icons.eot");
  src: url("../../assets/fonts/foundation-icons/foundation-icons.eot?#iefix") format("embedded-opentype"),
       url("../../assets/fonts/foundation-icons/foundation-icons.woff") format("woff"),
       url("../../assets/fonts/foundation-icons/foundation-icons.ttf") format("truetype"),
       url("../../assets/fonts/foundation-icons/foundation-icons.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 100;
}

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 200;
}

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 300;
}

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 400;
}

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold");
  font-weight: bold;
}

@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Regular");
  font-weight: 100;
}

@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Regular");
  font-weight: 200;
}

*{
	box-sizing : border-box;
}

HTML{
	font-size : 65%;
}
HTML, BODY{
	margin : 0px;
	width : 100%;
	height : 100%;
	overflow : hidden;
}

BODY{
	background-image: url('../../images/canvas.jpg');
	background-size : cover;
	background-position : center;
	
	&::before,
	&::after{
		content : '';
		display : block;
		width : 100%;
		height : 20px;
		@media screen and (max-width:480px){
			height : 10px;
		}
	}
	& > MAIN{
		position : relative;
		perspective: 2000px;
		max-width : 1000px;
		width : calc(100% - 60px);
		height : calc(100% - 40px);
		margin : 0px auto;
		left : -20px;
		
		@media screen and (max-width:480px){
			width : calc(100% - 20px);
			height : calc(100% - 20px);
			left : 0px;
		}
	}
}

P{
	word-break: break-all;
}


#head_panel{
	background-image : url('../../images/bg.jpg');
	background-size : cover;
	background-position : center;
	overflow : hidden;
	width : calc(100% - 40px);
	height : 100%;
	transform-origin : center;
	transform : rotateY(0deg);
	backface-visibility : hidden;
	-webkit-backface-visibility : hidden;
	position : absolute;
	top : 0px;
	left : 20px;
	transition : transform 1000ms ease-in-out;
	overflow : hidden;
	box-shadow : 8px 8px 3px 3px rgba(0,0,0,0.2);
	pointer-events : none;
	
	@media screen and (max-width:480px){
		width : 100%;
		left : 0px;
	}
	
	&.is-shown{
		& .c-main_menu{
			opacity : 1;
		}
	}
	&.is-current{
		pointer-events : auto;
	}
}

UL{
	margin : 0px;
	padding : 0px;
	list-style-type: none;
}


.u-linklabel{
	display : inline;
}
.u-text_dot{
	position: absolute;
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 1px 2px 1px 1px rgba(126, 165, 212, 0.4);
	opacity: 0.8;
	transform : rotate(0deg);
	transition : all 777ms linear 0ms;
	pointer-events : none;
	
	&.is-active{
		opacity: 0;
		transition : all 1111ms linear 77ms;
	}
}

.u-sub_text{
	position: relative;
	display: inline-block;
	min-width : 1.2rem;
	width : auto;
	height : auto;
	color: rgba(255, 255, 255, 0.7);
	font-size : 1.5rem;
	font-family : 'Sarala';
	transform : rotate(0deg);
	transition : all 777ms linear 0ms;
	pointer-events : none;
	text-shadow: 1px 2px 1px rgba(126, 165, 212, 0.4);
	
	&.is-active{
		opacity: 0;
		transition : all 1111ms linear 111ms;
	}
}

.c-main_menu{
	position: fixed;
	bottom: 0px;
	left: 50%;
	width: 0px;
	height: 0px;
	display: block;
	transform-style: preserve-3d;
	perspective: 500px;
	perspective-origin: bottom;
	z-index : 1;
	opacity : 0;
	transition : opacity 0s linear 500ms;
	
	&__panel{
		position: absolute;
		width: 220px;
		height: 220px;
		border-radius: 20px;
		box-shadow: inset 0px 0px 12px 8px rgba(255,255,255,0.4);
		background-color: rgba(97, 183, 255, 0.4);
		transition : all 500ms ease-in-out;
		
		&.__order_1{ top :   0px; left :   0px; }
		&.__order_2{ top :   0px; left : 240px; }
		&.__order_3{ top :   0px; left : 480px; }
		&.__order_4{ top : 240px; left :   0px; }
		&.__order_5{ top : 240px; left : 240px; }
		&.__order_6{ top : 240px; left : 480px; }
		&.__order_7{ top : 480px; left :   0px; }
		&.__order_8{ top : 480px; left : 240px; }
		&.__order_9{ top : 480px; left : 480px; }
		
		&::before{
			content: attr(data-icon);
			display : block;
			width : 100%;
			margin-top : 25px;
			height : 120px;
			line-height : 120px;
			font-size : 11rem;
			text-align : center;
			text-shadow: -1px -1px 1px rgba(13, 55, 98, 0.8),1px 1px 1px rgba(255,255,255,0.7);
			pointer-events : none;
		}
		
		&.__ico_fa::before{
			font-size : 9.5rem;
			font-family: 'FontAwesome';
		}
		&.__ico_fa.__ico-small::before{
			font-size : 9.0rem;
		}
		
		
		&.__ico_fi::before{
			font-size : 10.5rem;
			font-family: 'foundation-icons';
		}
		&.__ico_fi.__ico-small::before{
			font-size : 9.5rem;
		}
		
		& >A{
			position : absolute;
			width : 100%;
			height : 100%;
			left : 0px;
			bottom : 0px;
			font-family: 'Nunito';
			text-decoration: none;
			text-align : center;
			text-shadow: -1px -1px 0px rgba(13,55,98,1);
			pointer-events : none;
			
			& > .u-linklabel{
				position : absolute;
				width : 100%;
				height : auto;
				left : 0px;
				bottom : 20px;
				display : inline-block;
				font-size : 2.3rem;
				line-height: 2.5rem;
				
				&.__font-small{
					font-size : 2.1rem;
				}
			}
		}
		
		& >A,
		&::before{
			opacity : 0.7;
			color: rgb(255, 255, 255);
			transition : color 500ms ease-in-out;
		}
		
		&.__main{
			background-color: rgba(255, 255, 255, 0.4);
			box-shadow: inset 0px 0px 12px 8px rgba(124, 186, 231, 0.25);
			& > A,
			&::before{
				color : rgb(118, 168, 247);
				text-shadow: none;
			}
		}
		
		&.__sub{
			background-color: rgba(94, 168, 251, 0.4);
			box-shadow: inset 0px 0px 12px 8px rgba(255,255,255,0.4);
			& > A,
			&::before{
				color: rgb(255, 255, 255);
				text-shadow: none;
			}
		}
	}
	
	&__frame{
		position: relative;
		top: -750px;
		left: -350px;
		width: 700px;
		height: 700px;
		transform: rotateX(40deg);
		transform-origin: bottom;
		list-style: none;
		margin: 0px;
		padding: 0px;
		transition : transform 500ms ease-in-out;
		
	}
	&__frame.is-active{
		transform: rotateX(0deg);
	}
	&__frame.is-active > &__panel{
		background-color: rgba(97, 145, 238, 0.7);
		& > A{
			pointer-events : auto;
		}
		
		&.__main{
			background-color: rgba(255, 255, 255, 0.7);
			box-shadow: inset 0px 0px 12px 8px rgba(73, 133, 225, 0.25);
			& > A,
			&::before{
				color: rgb(10, 79, 187);
			}
		}
		&.__sub{
			background-color: rgba(25, 83, 194, 0.7);
			box-shadow: inset 0px 0px 12px 8px rgba(255,255,255,0.4);
			& > A,
			&::before{
				color: rgb(255, 255, 255);
			}
		}
	}
}


.c-texture_logo{
	position: absolute;
	display: inline-block;
	width: 600px;
	height : 120px;
	top: 15%;
	left: calc(50% - 600px / 2);
	z-index : 2;
	white-space : nowrap;
	pointer-events : none;
	
	&__text{
		font-size : 5.5rem;
		display : inline-block;
		width :auto;
		margin-left : 2.5rem;
		&::before{
			content : attr(data-logo-text);
			color : rgba(0,0,0,0);
		}
	}
	
	&__subtitle{
		text-align: center;
		letter-spacing : 0.8rem;
	}
}

.c-content_panel{
	background-image : url('../../images/monobg.jpg');
	background-size : cover;
	background-position : center;
	width : calc(100% - 40px);
	height : 100%;
	transform-origin : center;
	transform : rotateY(-180deg);
	backface-visibility : hidden;
	-webkit-backface-visibility : hidden;
	position : absolute;
	top : 0px;
	left : 20px;
	color : #FFFFFF;
	transition : all 1000ms ease-in-out;
	box-shadow : 8px 8px 3px 3px rgba(0,0,0,0.2);
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
	pointer-events : none;
	
	@media screen and (max-width:480px){
		width : 100%;
		left : 0px;
	}
	
	&.is-current{
		pointer-events : auto;
	}
	
	&__main{
		width : 100%;
		height : 100%;
		overflow : auto;
		background-color: rgba(255,255,255,0.85);
	//	-webkit-overflow-scrolling : touch;
		
		& > HEADER{
			padding: 10px;
			
			& > H1{
				margin: 0px 10px;
				padding: 10px;
				font-size: 3.2rem;
				border-style: solid;
				border-color: rgba(0,0,0,0.2);
				border-width: 0px 0px 1px 0px;
				box-shadow: 0px 1px 0px 0px rgba(255,255,255,0.9);
				text-align: center;
				color: rgba(0, 0, 0, 0.8);
				text-shadow: 0px 0px 1px rgb(255, 255, 255), 3px 3px 0px rgba(0, 0, 0, 0.17);
				
				
				@media screen and (max-width:480px){
					font-size: 1.8rem;
					padding: 10px 0px;
				}
			}
			
			& > P{
				margin: 20px 20px 0px 20px;
				color: rgba(0, 0, 0, 0.8);
				font-size : 1.3rem;
				letter-spacing: 1px;
				
				@media screen and (max-width:480px){
					font-size: 1.2rem;
					margin: 20px 10px 0px 10px;
				}
			}
		}
		& > FOOTER{
			margin: 0px 20px;
			border-style: solid;
			border-color: rgba(255,255,255,0.9);
			border-width: 1px 0px 0px 0px;
			box-shadow: 0px -1px 0px 0px rgba(0,0,0,0.2);
			
			& > P{
				margin: 20px 0px;
				color: rgba(0, 0, 0, 0.8);
				font-size : 1.3rem;
				letter-spacing: 1px;
				
				@media screen and (max-width:480px){
					line-height: 2.0rem;
					font-size: 1.2rem;
					letter-spacing: 0px;
				}
			}
		}
		
		& > SECTION{
			padding: 10px;
			font-size : 1.3rem;
			line-height : 2.5rem;
			
			& > H1{
				margin: 0px 20px;
				padding: 10px;
				font-size: 2.2rem;
				color: rgba(0, 0, 0, 0.8);
				text-shadow: 0px 0px 1px rgb(255, 255, 255), 3px 3px 0px rgba(0, 0, 0, 0.17);
				
				@media screen and (max-width:480px){
					font-size: 1.5rem;
					margin: 0px 10px;
				}
			}
			& > H2{
				font-size: 1.6rem;
				font-weight: bold;
				display: inline-block;
				border-style: double;
				border-width: 0px 0px 3px 0px;
				border-color: rgba(0,0,0,0.5);
				padding: 0px;
				line-height: 2.0rem;
				margin-bottom: 0.8rem;
			}
			
			& > P{
				margin: 10px 20px 20px 20px;
				color: rgba(0, 0, 0, 0.8);
				letter-spacing: 1px;
				
				@media screen and (max-width:480px){
					line-height: 2.0rem;
					font-size: 1.2rem;
					letter-spacing: 0px;
				}
			}
			
			& > DL{
				margin: 0px 20px;
				color: rgba(0, 0, 0, 0.8);
				overflow: hidden;
				
				& > DT{
					font-size: 1.6rem;
					font-weight: bold;
					display: inline-block;
					border-style: double;
					border-width: 0px 0px 3px 0px;
					border-color: rgba(0,0,0,0.5);
					padding: 0px;
					line-height: 2.0rem;
					margin-bottom: 0.8rem;
					
					@media screen and (max-width:480px){
						font-size: 1.3rem;
						margin-top: 10px;
					}
				}
				& > DD{
					margin : 0px 0px 15px 20px;
					font-size: 1.2rem;
					
					@media screen and (max-width:480px){
						margin: 0px 0px 10px 0px;
					}
				}
				
			}
			
			& .__thin{
				font-size : 1.1rem;
				@media screen and (max-width:480px){
					font-size : 1.0rem;
				}
			}
		}
	}
}

.u-paragraph_image{
	& > IMG{
		width : auto;
		max-width : 100%;
		height : auto;
		box-shadow: 6px 6px 1px 1px rgba(0,0,0,0.15);
	}
	
	&.__float_left{
		margin: 0px 30px 20px 20px;
		float : left;
		
		@media screen and (max-width:480px){
			margin: 0px 10px 15px 10px;
			float : none;
		}
	}
	
	&.__float_right{
		margin: 0px 25px 20px 30px;
		float : right;
		
		@media screen and (max-width:480px){
			margin: 0px 10px 15px 10px;
			float : none;
		}
	}
}

.c-anchor{
	&__to_top{
		display : block;
		position : absolute;
		right : -40px;
		bottom : 0px;
		border-radius : 4px;
		width : 36px;
		height : 36px;
		background-color : rgba(0,0,0,0.4);
		text-align : center;
		color : rgba(255,255,255,0.8);
		text-decoration : none;
		font-size : 28px;
		line-height : 36px;
		opacity : 1;
		transition : opacity 1000ms linear;
		
		&::before{
			content : '\f060';
			font-family: 'FontAwesome';
		}
		
		&.is-hidden{
			opacity : 0;
			pointer-events : none;
		}
		
		@media screen and (max-width:480px){
			position : fixed;
			bottom : 15px;
			right : 15px;
		}
	}
}





